body {
  min-height: 600px;
  margin: var(--size-none);
}

header {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-around;
  align-items: center;
}

.headerColumn {
  padding: var(--size-xsmall);
	width: 100%;
	max-width: var(--horizontal-three-eighths);
  text-align: center;
}

.headerColumnWrapContent {
	width: initial;
}


@media screen and (max-width: 960px) {
  header {
  }

  .headerColumn {
    max-width: none;
  }
}

.pagesLink {
  padding: var(--size-none) var(--size-xsmall);
  margin: var(--size-xxsmall);
}

#container {
  margin: var(--size-none) var(--size-none);
}

#content {
  max-width: var(--horizontal-full);
  margin: auto;
}

#content img {
  max-width:100%;
  height:auto;
}

.post {
   word-wrap: break-word;
}

.divider {
  margin-top: var(--size-xlarge);
  margin-bottom: var(--size-xlarge);
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapToContent {
  width: fit-content;
  block-size: fit-content;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: var(--size-xsmall);
  padding-bottom: var(--size-small);
}

.footerColumn {
  padding: var(--size-xsmall);
	width: 100%;
	max-width: var(--horizontal-quarter);
  text-align: center;
}

#backgroundVideoContainer {
  width: 100%;
  position: relative; 
}

#backgroundVideo {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
  margin-bottom: -4px;
}

#videoHeader {
  position: absolute;
  z-index: 10;
  bottom: var(--size-none);
  left: var(--size-none);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headervidlink {
  width: 100%;
	max-width: var(--horizontal-full);
}

.navButton {
  margin: var(--size-small);
  padding: var(--size-small) var(--size-none)
}

.navButton a {
  padding: var(--size-small) var(--size-small);
}

.section {
  padding: var(--size-xxlarge) var(--size-medium);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionColumnHalf {
	width: 100%;
	max-width: var(--horizontal-quarter);
}

.sectionColumnMain {
	width: 100%;
	max-width: var(--horizontal-three-eighths);
}

.sectionColumnSub {
	width: 100%;
	max-width: var(--horizontal-eighth);
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionColumnFullWidth {
	width: 100%;
	max-width: 1000px;
}

.flexAlignCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#discordEmbed {
	width: 100%;
  padding: var(--size-none);
  height: 600px;
}

.sectionTriButton {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.triButton {
  padding: var(--size-none);
  flex-grow: 1;
}  

@media screen and (max-width: 960px) {
  .sectionTriButton {

  }
  
  .triButton {
    padding: var(--size-none);
    width: 100%;
  }
}

.triButton a {
  display: block;
  padding: var(--size-xlarge) var(--size-small);
}

.sectionGameCatalog {
  padding-top: var(--size-small);
  padding-bottom: var(--size-none);
}

.sectionGameRow {
  display: flex;
  margin-left: -150px;
  flex-wrap: nowrap;
  overflow-x: auto;
}

.gameCatalogItem {
  margin: var(--size-none) -64px;
  max-height: 350px;
}

.verticalPaddingXLarge {
  padding-top: var(--size-xlarge);
  padding-bottom: var(--size-xlarge);
}

.heightXXSmall {
  height: var(--size-xxsmall);
}

.heightXSmall {
  height: var(--size-xsmall);
}

.heightSmall {
  height: var(--size-small);
}

.heightMedium {
  height: var(--size-medium);
}

.heightLarge {
  height: var(--size-large);
}

.heightXLarge {
  height: var(--size-xlarge);
}

.heightXXLarge {
  height: var(--size-xxlarge);
}