body {
  min-height: 600px;
  margin: 0px;
}

header {
  display: flex;
  flex-wrap: wrap;
  align-content: stretch;
  justify-content: space-evenly;
  align-items: center;
}

.headerColumn {
  padding: 10px;
	width: 100%;
	max-width: 500px;
  text-align: center;
}

.pagesLink {
  padding: 0px 16px;
  margin: 8px;
}

#container {
  margin: 250px 0px;
}

#content {
  max-width: 1920px;
  margin: auto;
}

#content img {
  max-width:100%;
  height:auto;
}

.post {
   word-wrap: break-word;
}

.divider {
  margin-top: 50px;
  margin-bottom: 50px;
}

.centerImage {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.wrapToContent {
  width: fit-content;
  block-size: fit-content;
}

.flexContainer{
  display: flex;
  flex-wrap: wrap;
}

footer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding-top: 10px;
  padding-bottom: 20px;
}

.footerColumn {
  padding: 10px;
	width: 100%;
	max-width: 500px;
  text-align: center;
}

#backgroundVideoContainer {
  width: 100%;
  position: relative; 
}

#backgroundVideo {
  width: 100%;
  max-height: 800px;
  object-fit: cover;
}

#videoHeader {
  position: absolute;
  z-index: 10;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headervidlink {
  width: 100%;
	max-width: 1920px;
}

.navButton {
  margin: 20px;
  padding:20px 0px
}

.navButton a {
  padding:20px 20px;
}

.section {
  padding: 128px 32px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionNoBorder {
  padding: 32px 64px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.sectionColumnMain {
	width: 100%;
	max-width: 700px;
}

.sectionColumnSub {
	width: 100%;
	max-width: 300px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sectionColumnFullWidth {
	width: 100%;
	max-width: 1000px;
}

.flexAlignCenter {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#discordEmbed {
	width: 100%;
  padding: 20px;
  height: 600px;
}

.sectionTriButton {
  display: flex;
}

.triButton {
  padding: 0px;
  height: 150px;
  flex-grow: 1;
}

.sectionGameCatalog {
  padding-top: 64px;
  padding-bottom: 64px;
}

.sectionGameRow {
  display: flex;
  overflow: hidden;
  margin-left: -150px;
}

.gameCatalogItem {
  margin: 0px -64px;
}
