/* Define font sizes */

p {
  font-size: 1.25em;
}

/* Define styles */

@font-face {
  font-family: 'myriad';
  src:  url('/NewWebsite/public/fonts/myriad_pro_regular.ttf');
}

html {
  background-color: #17161a;
  font-family: "myriad";
  color: var(--color-text);
  background-image: url("/NewWebsite/public/img/BG.png");
  background-repeat: repeat;
}

a {
  color: var(--color-highlight);
}

button {
  font-family : inherit;
  font-size: 1em;
}

.pagesLink {
  border-style: none;
  background-color: var(--color-transparet);
}

.pagesLink a {
  text-decoration: none;
  color: var(--color-text);
}

h1 a {
  text-decoration: none;
}

header {
  border-bottom: var(--border-xsmall) solid var(--color-highlight);
  background-color: transparent;
}

footer {
  border-top: var(--border-xsmall) solid var(--color-highlight);
  background-color: var(--color-background);
}

.footerColumn h1 {
  font-size: 2em;
}

.footerColumn p {
  font-size: 1em;
}

.headervidlink {

}

.navButton {
  background-color: var(--color-transparet);
  border: var(--border-small) solid var(--color-highlight);
  transition: all 1s;
}

.navButton a {
  letter-spacing: var(--border-small);
  font-size: 1em !important;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
}

.section {
  border-top: var(--border-xsmall) solid var(--color-highlight);
  border-bottom: var(--border-xsmall) solid var(--color-highlight);
}

.sectionColumnMain {
  
}

.sectionColumnSub {
  
}

.triButton {
  background-color: rgb(0, 0, 0, 0);
  border-style: none;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.triButton a {
  letter-spacing: var(--border-small);
  font-size: 2em !important;
  text-align: center;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
}

/* Hide scrollbar for Chrome, Safari and Opera */
.sectionGameRow::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.sectionGameRow {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.hideTopBorder {
  border-top: var(--size-none);
}

.hideBottomBorder {
  border-bottom: var(--size-none);
}

.backgroundImageDark {
  background-color: rgba(0,0,0,.5); /* Tint color */
  background-blend-mode: multiply;
}

.backgroundImageTop {
  background-position: top;
}

.backgroundGame1 {
  background-image: url('/NewWebsite/public/img/background_bf.jpg');
}

.backgroundGame2 {
  background-image: url('/NewWebsite/public/img/background_halo.webp');
}