<div class="footerColumn">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}//public/img/logo.png">
  </a>
</div>

<div class="footerColumn">
  <h1>
    Get Connected
  </h1>
  <a href="http://discord.derpcompany.com/"><img src="https://s3.amazonaws.com/files.enjin.com/316182/custom_assets/footer_icons/footer_discord_d.png"></a>
  <a href="https://www.youtube.com/user/D3rpCompany"><img src="https://s3.amazonaws.com/files.enjin.com/316182/custom_assets/footer_icons/footer_youtube_d.png"></a>
  <a href="https://www.twitch.tv/derpcompanytv"><img src="https://s3.amazonaws.com/files.enjin.com/316182/custom_assets/footer_icons/footer_twitch_d.png"></a>
  <a href="https://steamcommunity.com/groups/DerpCompanyGaming"><img src="https://s3.amazonaws.com/files.enjin.com/316182/custom_assets/footer_icons/footer_steam_d.png"></a>
</div>