<div class="footerColumn">
  <a href="{{ site.baseurl }}/">
    <img src="{{ site.baseurl }}//public/img/logo.png">
  </a>
</div>

<div class="footerColumn">
  <h1>
    Get Connected
  </h1>
  <a href="http://discord.derpcompany.com/"><img src="{{ site.baseurl }}//public/img/footer_discord_d.png"></a>
  <a href="https://www.youtube.com/user/D3rpCompany"><img src="{{ site.baseurl }}//public/img/footer_youtube_d.png"></a>
  <a href="https://www.twitch.tv/derpcompanytv"><img src="{{ site.baseurl }}//public/img/footer_twitch_d.png"></a>
  <a href="https://steamcommunity.com/groups/DerpCompanyGaming"><img src="{{ site.baseurl }}//public/img/footer_steam_d.png"></a>
</div>