<button class="pagesLink">
  <h2>
    <a href="{{ site.baseurl }}/">HOME</a>
</h2>
</button>
{% assign pages_list = (site.pages | sort: 'index') %}
{% for node in pages_list %}
  {% if node.title != null %}
    {% if node.title == "Home" %}
      {% continue %}
    {% endif %}
    {% if node.layout == "page" %}
      <button class="pagesLink">
        <h2>
          <a href="{{ site.baseurl }}{{ node.url }}">
            {{ node.title | upcase }}
          </a>
        </h2>
      </button>
    {% endif %}
  {% endif %}
{% endfor %}